export const serverURL = "" // for all axios
export const appName = "" // for LoginPage and Header in All Page
export const appTitle = "" // for title (tab) All Page
export const appIcon = "" // for icon (tab) All Page
export const appBy = "" // for LoginPage and Footer in All Page
export const appByLink = "" // for LoginPage and Footer in All Page IF appBy clicked